{% extends 'home.html' %}

{% block title %} {{pet.name}} {% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/pets.css">
{% endblock %}

{% block content %}
    <h1>{{pet.name}}</h1>
    <div class="row">
        <div class="col">
            <div class="card">
                {% if pet.photo_url %}
                <img src="{{ pet.photo_url }}" alt="pet image" class="card-img-top" style=" height: 300px">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-success"><b>{{ pet.name }}</b></h5>
                    <p class="card-text">
                        Specie : {{pet.species}}
                        {% if pet.age %}
                        <br>Age : {{pet.age}}
                        {% endif %}
                        {% if pet.notes %}
                        <br>Notes : {{pet.notes}}
                        {% endif %}
                        {% if pet.available %}
                        <br>Available : <span class="text-success"><b>Yes</b></span>
                        {% else %}
                        <br>Available : <span class="text-danger"><b>No</b></span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <form method="post">
                {{ form.hidden_tag() }}
                {% for field in form
                    if field.widget.input_type != 'hidden' %}
                <div class="mb-3">
                    {{ field.label (class_="form-label")}}
                    {{ field (class_="form-control")}} <br>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
                </p>
                <button class="btn btn-success btn-lg">Submit</button>
                <a class="btn btn-danger btn-lg" href="/pets">Cancel</a>
            </form>
        </div>
        
{% endblock %}

